p {
    font-family: Roboto, Arial;
    margin-top: 0;
    margin-bottom: 0;
}

body {
    font-family: Roboto, Arial;
    margin: 0;
    padding-top: 80px;
    padding-left: 96px;
    padding-right: 24px;
    background-color: rgb(248, 248, 248);
}

@media (min-width: 1200.1px) {
    /* Either use margin-left or padding-left. Effects of
    both are same. */
    body {
        margin-left: 168px;
        /* padding-left: 280px; */
    } 
}

.info-details {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 1;
    text-align: right;
}